#header { margin-bottom: 40px; }
#content { padding-bottom: 0px; }
#nav { padding-bottom: 11px; }
#project { margin-bottom: 0; }
.post-line { display: none; }
.post { margin-bottom: 0; padding-bottom: 60px; }
.previous-posts { clear: both; }
#contact-page { margin-bottom: 0; }
#content { padding-right: 65px; }
#portfolio .portfolio-item { margin-right: -3px; }